<form action="/search" method="get" class="search-header-inline" role="search">
  <input type="hidden" name="type" value="product">
  <input class="search-header__input"
    type="search"
    name="q"
    placeholder="{{ 'general.search.title' | t }}"
    aria-label="{{ 'general.search.title' | t }}">
  <button class="search-header__submit text-center" type="submit">
    <i class="zmdi zmdi-search"></i>
  </button>
</form>