<div class="productWishList">
  <a class="wishlist btn btnProduct btnProductWishlist" 
    data-icon-wishlist href="#" 
    data-product-handle="{{ product.handle }}"
    data-id="{{ product.id | json }}"
    {% if settings.tooltip_enable %}
      data-toggle="tooltip" 
      data-placement="top" 
      title="{{ 'products.butttons.wishlist' | t }}"
    {% endif %}>
    <i class="zmdi zmdi-favorite"></i>
  </a>
</div>