body {
  font-family: 'Roboto';
}

/* announcement-bar */
#shopify-section-announcement-bar .announcement-bar .announcement-bar__message {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  font-size: 20px;
  line-height: 26px;
}

#shopify-section-announcement-bar .announcement-bar .announcement-bar__message div {
  display: flex;
}

@media (max-width: 500px) {
  #shopify-section-announcement-bar .announcement-bar .announcement-bar__message {
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
  }
}

/* main menue */
#shopify-section-nov-header {
  z-index: 1;
}

nav#AccessibleNav .site-nav>li .site-nav__link--main {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #BFBFBF;
}

nav#AccessibleNav .site-nav>li .site-nav__link--main:hover {
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
}

nav#AccessibleNav .site-nav>li .site-nav__link--main span {
  z-index: 1;
}

nav#AccessibleNav .site-nav>li .site-nav__link--main:hover::before {
  position: absolute;
  content: "";
  background: rgba(234, 117, 3, 0.7);
  width: 36px;
  height: 24px;
  left: -11px;
}

nav#AccessibleNav .site-nav {
  text-align: left;
}

.search__btn-overlay {
  background: none;
}

.site-header__cart {
  margin-top: -28px;
}

.site-header__cart .site-header__cart-icon {
  background-image: none;
  position: relative;
}

.site-header__cart .site-header__cart-icon .num-cartcount {
  position: absolute;
  top: 0px;
  right: -16px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-mobile {
  position: absolute;
  background-color: transparent !important;
  box-shadow: unset;
  width: 100%;
}

.header-icons .icon:hover path,
.header-icons .icon:hover circle {
  stroke: #EA7503;
}

.canvas-menu #canvas-main-menu .site-nav__link {
  color: #ea7503;
}

.canvas-menu .canvas-header-box {
  padding: 30px;
}

.header-mobile .item-mobile-top i {
  color: #fff;
}

/* Footer style css */
body:not(.template-index) .nov-footer {
  border-top: none !important;
}

#shopify-section-nov-footer footer .footer-layout {
  background-size: cover;
}

.nov-footer .block_social a {
  background-color: transparent !important;
}

#shopify-section-nov-footer .copyright {
  font-size: 14px;
  color: #fff;
}

#shopify-section-nov-footer .copyright a {
  color: #EA7503;
}

#shopify-section-nov-footer .link-wrap {
  margin-top: 24px;
  margin-left: -22px;
}

/* Contact form */
#shopify-section-nov-footer .footer-contactform {
  position: relative;
  max-width: 975px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
}

#shopify-section-nov-footer .footer-contactform::before {
  position: absolute;
  content: "";
  width: calc(100% + 34px);
  height: calc(100% + 34px);
  bottom: -17px;
  right: -17px;
  border-radius: 57px;
  border: solid 17px #ffffffb3;
}

#shopify-section-nov-footer {
  margin-top: 60px;
}

#shopify-section-nov-footer #contact_form {
  display: flex;
  justify-content: space-between;
}

#shopify-section-nov-footer .contact-from-wrap {
  margin-bottom: -230px;
}

#shopify-section-nov-footer .footer-layout .container {
  margin-top: 190px;
}

#shopify-section-nov-footer .footer-contactform input {
  width: 250px;
  height: 50px;
  /* white */
  background: #FFFFFF;
  /* gray50 */
  border: 1px solid #BFBFBF;
  border-radius: 20px;
}

#shopify-section-nov-footer .footer-contactform input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5E5E5E;
}

#shopify-section-nov-footer button.btn-submit {
  border: none;
  cursor: pointer;
}

#shopify-section-nov-footer .contact-from-wrap .container {
  position: relative;
}

#shopify-section-nov-footer .title_block .sub_title {
  font-size: 18px;
}

/* Responsive */
@media (max-width: 1400px) {
  #shopify-section-nov-footer .contact-from-wrap {
    padding-top: 50px;
  }
}
@media (max-width: 1199px) {
  #shopify-section-nov-footer .footer_image {
    display: flex;
    justify-content: center;
  }

  #shopify-section-nov-footer .link-wrap {
    margin-top: 24px;
    margin-left: -9px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  #shopify-section-nov-footer .footer-contactform {
    height: 300px;
  }

  #shopify-section-nov-footer .footer-contactform .container {
    position: absolute;
    top: 38px;
  }

  #shopify-section-nov-footer #contact_form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 13px;
    text-align: center;
  }

  #shopify-section-nov-footer .footer-contactform input {
    width: 100%;
  }

  #shopify-section-nov-footer button.btn-submit {
    width: 100%;
  }
}

/* Breadcrumb */
#NovBreadcrumbs {
  padding-bottom: 180px !important;
  margin-bottom: 0px !important;
}

#NovBreadcrumbs::before {
  background-image: url(//cdn.shopify.com/s/files/1/0704/4805/4566/t/2/assets/breadcrumb.png?v=4284798…);
  background-size: cover;
  background-position: center;
}

/* Product page style css */
.product-template__container h1.product-single__title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #3F4D6A;
}

.product-template__container .des-title {
  color: #000;
  margin-top: 24px;
}

.product-template__container .product-single__shortdes {
  margin-top: 14px;
}

/* Custom rating */
.product-template__container .custom-product-rating {
  margin-left: 0px;
  margin-top: 12px;
}

.product-template__container .custom-product-rating .available {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.product-template__container .custom-product-rating .available p {
  color: #000;
  margin-left: 8px;
}

/* Show more description */
.product-template__container .btn_show_more a {
  color: #EA7503;
}

.product-template__container .btn_show_more {
  margin-top: 14px;
  display: block;
}

.product-template__container .view-all[itemprop=description] {
  display: none;
}

/* Subscribe */
.product-template__container .subscribe-wrap {
  display: flex;
  margin-top: 96px;
}

.subscribe {
  display: flex;
  align-items: center;
}


.product-template__container .subscribe-wrap label {
  color: #BFBFBF;
}

.product-template__container .subscribe-wrap input:checked+label {
  color: #5E5E5E;
}

.product-template__container .subscribe-wrap .subscribe.onetime {
  margin-left: 37px;
}

.product-template__container .subscribe input {
  display: none;
}

.subscribe-wrap input[type=radio]:checked+.radio-label:before {
  background: linear-gradient(180deg, #EA7503 0%, #FF9314 0.01%, #EA7503 100%);
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.subscribe-wrap input[type=radio]+.radio-label:before {
  content: "";
  /* background: #f4f4f4; */
  border-radius: 100%;
  border: 1px solid #BFBFBF;
  display: inline-block;
  width: 27px;
  height: 27px;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

/* Cart bar */
.product-template__container .product-form__item--quantity {
  display: flex;
  gap: 17px;
}

.product-template__container .group-quantity {
  background: #F9F9F9;
  border-radius: 10px;
}

.product-template__container .group-quantity .save-off {
  position: relative;
  background: #F24942;
  height: 100%;
  width: 121px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product-template__container .group-quantity .save-off::before {
  position: relative;
}

.product-template__container .group-quantity .save-off::before {
  content: "";
  position: absolute;
  border-top: 41px solid transparent;
  border-bottom: 41px solid transparent;
  border-left: 24px solid #F24942;
  right: -24px;
}

.product-template__container .group-quantity .price-group {
  display: flex;
}

.product-template__container .group-quantity .subscribe-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.product-form__item--quantity .quick_view_qty {
  min-width: 149px;
  background: #FFFFFF;
  border: 1px solid #BFBFBF;
  border-radius: 30px;
}

.product-form__item--quantity .quick_view_qty .quantity-selector {
  height: 57px;
}

.product-form__item--quantity .quick_view_qty .quick_view-qty.quick_view-qty-minus {
  margin-left: 10px;
}

.product-form__item--quantity .quick_view_qty .quick_view-qty.quick_view-qty-plus {
  margin-right: 10px;
}

.product-form__item--quantity .quick_view_qty .quantity-selector {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

.group-quantity .productWishList {
  margin-top: 0px !important;
}

.group-quantity .productWishList .btnProductWishlist {
  width: 60px;
  height: 60px;
  background: #ECECEC;
  border-radius: 30px;
  display: flex !important;
  justify-content: center;
}

.product-form__item--quantity .product-form__cart-submit {
  padding: 17px 30px !important;
}

@media (max-width: 1399px) {
  .product-form__item--quantity .quick_view_qty {
    min-width: 110px;
  }

  .product-form__item--quantity .product-form__cart-submit {
    font-size: 17px !important;
    padding: 17px !important;
  }
}

@media (max-width: 1199px) {
  .product-form__item--quantity .product-form__cart-submit {
    font-size: 13px !important;
  }
}

@media (max-width: 767px) {
  .product-template__container .group-quantity {
    padding: 15px 0px;
  }

  .product-template__container .group-quantity .save-off:before {
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 20px solid #F24942;
    right: -20px;
  }

  .product-template__container .group-quantity .price-group {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .product-template__container .group-quantity .save-off {
    height: 52px;
  }

  .product-template__container .product-form__item--quantity {
    gap: 8px;
  }

  .subscribe-wrap {
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
  }
}

/* Product tab section style */
.product-single__tabs .nav-tabs {
  margin-bottom: 23px;
  border-bottom: 1px solid #BFBFBF;
}

.product-single__tabs .nav-tabs>li a.active,
.product-single__tabs .nav-tabs>li a:hover {
  color: #EA7503;
}

.product-single__tabs .nav-tabs>li a {
  text-transform: none;
  position: relative;
  color: #5E5E5E;
}

.product-single__tabs .nav-tabs>li a.active::before {
  content: "";
  position: absolute;
  background: #ECECEC;
  width: 36px;
  height: 24px;
  left: -11px;
  top: 12px;
  z-index: -1;
}

.product-single__tabs .nav-tabs>li a:after {
  background: #EA7503;
  height: 5px;
}

.template-product .single__tab .tab-container {
  padding: 43px 20px;
  background: #FFFFFF;
  border-radius: 15px;
  margin-top: 96px;
  position: relative;
}

@media(max-width: 999px) {
  .template-product .single__tab .tab-container {
    margin-top: 0px;
  }
}