body {
  font-family: 'Roboto';
}

/* announcement-bar */
#shopify-section-announcement-bar .announcement-bar .announcement-bar__message {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  font-size: 20px;
  line-height: 26px;
}

#shopify-section-announcement-bar .announcement-bar .announcement-bar__message div {
  display: flex;
}

@media (max-width: 500px) {
  #shopify-section-announcement-bar .announcement-bar .announcement-bar__message {
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
  }
}

/* main menue */
#shopify-section-nov-header {
  z-index: 1;
}

nav#AccessibleNav .site-nav>li .site-nav__link--main {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #BFBFBF;
}

nav#AccessibleNav .site-nav>li:nth-child(1) .site-nav__link--main {
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
}

nav#AccessibleNav .site-nav>li:nth-child(1) .site-nav__link--main span {
  z-index: 1;
}

nav#AccessibleNav .site-nav>li:nth-child(1) .site-nav__link--main::before {
  position: absolute;
  content: "";
  background: rgba(234, 117, 3, 0.7);
  width: 36px;
  height: 24px;
  left: -11px;
}

nav#AccessibleNav .site-nav {
  text-align: left;
}

.search__btn-overlay {
  background: none;
}

.site-header__cart {
  margin-top: -28px;
}

.site-header__cart .site-header__cart-icon {
  background-image: none;
  position: relative;
}

.site-header__cart .site-header__cart-icon .num-cartcount {
  position: absolute;
  top: 0px;
  right: -16px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-mobile {
  position: absolute;
  background-color: transparent !important;
  box-shadow: unset;
  width: 100%;
}

/* Footer style css */
#shopify-section-nov-footer footer .footer-layout {
  background-size: cover;
}

.nov-footer .block_social a {
  background-color: transparent !important;
}

#shopify-section-nov-footer .copyright {
  font-size: 14px;
  color: #fff;
}

#shopify-section-nov-footer .copyright a {
  color: #EA7503;
}

#shopify-section-nov-footer .link-wrap {
  margin-top: 24px;
  margin-left: -22px;
}

/* Contact form */
#shopify-section-nov-footer .footer-contactform {
  position: relative;
  max-width: 975px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
}

#shopify-section-nov-footer .footer-contactform::before {
  position: absolute;
  content: "";
  width: calc(100% + 34px);
  height: calc(100% + 34px);
  bottom: -17px;
  right: -17px;
  border-radius: 57px;
  border: solid 17px #ffffffb3;
}

#shopify-section-nov-footer {
  margin-top: 60px;
}

#shopify-section-nov-footer #contact_form {
  display: flex;
  justify-content: space-between;
}

#shopify-section-nov-footer .contact-from-wrap {
  margin-bottom: -230px;
}

#shopify-section-nov-footer .footer-layout .container {
  margin-top: 190px;
}

#shopify-section-nov-footer .footer-contactform input {
  width: 250px;
  height: 50px;
  /* white */
  background: #FFFFFF;
  /* gray50 */
  border: 1px solid #BFBFBF;
  border-radius: 20px;
}

#shopify-section-nov-footer .footer-contactform input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5E5E5E;
}

#shopify-section-nov-footer button.btn-submit {
  border: none;
  cursor: pointer;
}

#shopify-section-nov-footer .contact-from-wrap .container {
  position: relative;
}

#shopify-section-nov-footer .title_block .sub_title {
  font-size: 18px;
}

/* Responsive */
@media (max-width: 1199px) {
  #shopify-section-nov-footer .footer_image {
    display: flex;
    justify-content: center;
  }

  #shopify-section-nov-footer .link-wrap {
    margin-top: 24px;
    margin-left: -9px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  #shopify-section-nov-footer .footer-contactform {
    height: 300px;
  }

  #shopify-section-nov-footer .footer-contactform .container {
    position: absolute;
    top: 38px;
  }

  #shopify-section-nov-footer #contact_form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 13px;
    text-align: center;
  }

  #shopify-section-nov-footer .footer-contactform input {
    width: 100%;
  }

  #shopify-section-nov-footer button.btn-submit {
    width: 100%;
  }
}

/* Breadcrumb */
#NovBreadcrumbs {
  padding-bottom: 180px !important;
  margin-bottom: 0px !important;
}

#NovBreadcrumbs::before {
  background-image: url(//cdn.shopify.com/s/files/1/0704/4805/4566/t/2/assets/breadcrumb.png?v=4284798…);
  background-size: cover;
  background-position: center;
}